/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  background-color: #824f58;
}

h1 {
  color: #efd0d5;
  color: #9c6871;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
