:root {
  --branding-color: #9a2f3f;
  --secondary-color: #efd0d5;
  --default-font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--default-font-family);
  color: var(--branding-color);
  line-height: 1.5;
}

h1 {
  font-weight: 900;
  font-size: 68px;
  margin: 20px;
}

h2 {
  font-size: 44px;
}

a {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.hero {
  background: var(--branding-color);
  color: var(--secondary-color);
  margin: 20px 0;
  padding: 20px 0;
  text-align: center;
}

.my-face {
  max-width: 20%;
  border-radius: 50%;
}

.my-face-about {
  border-radius: 10%;
  max-width: 50%;
}

.about-section {
  background: var(--secondary-color);
}

.btn-branding {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--branding-color);
  font-size: 18px;

  padding: 12px 24px;
}

.btn-branding-outline {
  background: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 2px;
  color: var(--secondary-color);
  font-size: 18px;
  padding: 12px 24px;
}

.project-description {
  padding: 20px 10px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 44px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }
}
